.staticHeaderImage {
  background-color: #2d2929;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.headingContainer {
  padding-top: 150px;
  padding-bottom: 160px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: center;
  color: white;
}
.headingList {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  color: white;
}
.liHome {
  color: white;
  font-size: 20px;
}
.liScreenName {
  color: #5bb286;
  font-size: 20px;
}
.staticHeaderBorderImage {
  position: absolute;
  bottom: 0px;
}
